<div class="navbar">
  <div class="homepage">
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon">
        <mat-icon>train</mat-icon>
      </button>
      <span>Capy Railway</span>
      
 
      <span class="example-spacer"></span>
     
      <img mat-card-image src="/assets/image/home.svg">
      <button mat-button routerLink="Home" routerLinkActive="active">Home</button>
    
      <img mat-card-image src="/assets/image/book.svg">
      <button mat-button  routerLink="next"  routerLinkActive="active">Book</button>
    
      <img mat-card-image src="/assets/image/person.svg">
      <button mat-button   routerLink="login"  routerLinkActive="active">Admin</button>
  


      <!--<img mat-card-image src="/assets/image/person.svg">
      <button mat-button   routerLink="register"  routerLinkActive="active">Register</button> -->
    
    </mat-toolbar>

    </div>  

    <div class="text">
      <br>
     <h1>“The train is a small world moving through a larger world”</h1>
     <h2>"Choo-choo, Am coming"</h2>
    </div>
  </div>
   
